<h3> This is home page </h3>
<p> This is the home page fpr the Travel website. You must login before, to get the access of the elements of this website.<p>
<p> This website has two apis Twitter and Flickr and it is deployed on two different cloud i.e. Engine Yard and Heroku </p> 

